@model Product
<div class="section-padding">
    <div class="container">

        <div class="product-info row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="ads-details-wrapper">
                    <div class="owl-item active" style="width: 730px; margin-right: 30px;">
                        <div class="item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Imgs/@Model.Image" alt="">
                            </div>
                            <span class="price">$@Model.Price</span>
                        </div>
                    </div>
                </div>

                <div class="details-box">
                    <div class="ads-details-info">
                        <h2>@Model.Name</h2>
                        <div class="details-meta">
                            <span><a href="#"><i class="lni-alarm-clock"></i> @Model.CreatedDate</a></span>
                            <span><a href="#"><i class="lni-map-marker"></i> @Model.UserID</a></span>
                            <span><a href="#"><i class="lni-eye"></i> @Model.category.Name</a></span>
                        </div>
                        <p class="mb-4">@Model.Description .</p>
                    </div>
                    <div class="tag-bottom">
                        <div class="float-right">
                            <div class="share">
                                <div class="social-link">
                                    <a class="linkedin" data-toggle="tooltip" data-placement="top" title="" href="https://www.linkedin.com/in/anas-masoud/" data-original-title="linkedin"><i class="lni-linkedin-fill"></i></a>
                                    <a class="google" data-toggle="tooltip" data-placement="top" title="" href=" mailto:anas.masoud9@gmail.com" data-original-title="google plus"><i class="lni-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">

                <aside class="details-sidebar">
                    <div class="widget">
                        <h4 class="widget-title">Ad Posted By</h4>
                        <div class="agent-inner">
                            <div class="agent-title">
                                <div class="agent-photo">
                                    <a href="#"><img src="~/assets/img/productinfo/agent.jpg" alt=""></a>
                                </div>
                                <div class="agent-details">
                                    <h3><a href="#">@Model.Name</a></h3>
                                    <span><i class="lni-phone-handset"></i>@Model.category.Name</span>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Your Email">
                            <input type="text" class="form-control" placeholder="Your Phone">
                            <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p>
                            <button class="btn btn-common fullwidth mt-4">Send Message</button>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>