@model IEnumerable<Souq.Models.Product>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<style>
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #808080; /* color of the scrollbar thumb */
        border-radius: 5px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });</script>
<h1>Products</h1>
<hr />

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th> @Html.DisplayNameFor(model => model.UserID)</th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @*   @Html.DisplayFor(modelItem => item.Image) *@
                    <img width="110" height="70" class="img-fluid" src="~/Imgs/@item.Image" alt="">
                </td>
                <td style="width:140px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td style="max-height: 120px; max-width:110px; overflow-y: auto; white-space: nowrap; ">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        
                <td> @Html.DisplayFor(model => item.UserID)</td>
            <td>
                @Html.DisplayFor(modelItem => item.category.Name)
            </td>
            <td>
                    <a class="btn btn-danger" style="background-color:#EB1616" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
               @*  <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a class="btn btn-danger" style="background-color:#EB1616; margin-top:3px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-danger" style="background-color:#EB1616" asp-action="Create">Create New</a>
</p>