@model IEnumerable<Souq.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });</script>

    

<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">My Products</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 90%; margin: 0 auto;">
<h1 class="section-title">My Products</h1>

<table class="custom-table center-table"  id="myTable">
    <thead>
        <tr>
            <th>Product Image </th>
            <th>Product </th>
            <th>Description </th>
            <th>Price </th>
            <th>Date </th>
            <th>category </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
           @foreach (var item in Model)
            {
        <tr>
                    <td> <img width="400" height="350" class="img-fluid" src="~/Imgs/@item.Image" alt=""> </td>
                <td>@item.Name</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>$@item.Price </td>
                <td> @Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.category.Name)</td>
                <td>
                    <div class="btns-actions">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-common " style="background-color:#363b4d; margin-left:8px"><i class=" lni-pencil"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="background-color:#EB1616">  <i class="lni-trash"></i>  </a>
                    </div>
                 </td>
        </tr>
            }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-common" style="margin-left:35px; margin-top:15px;">Create New</a>
</p>
<div/>
<br />
<br />

</div>