@model Souq.Models.FAQ
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Details";
}
<h1>FAQ</h1>

<h4>Question Details</h4>


<div>
    <h4>FAQ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn wer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Hoverable Table</h6>
        <table class="table table-hover">
     
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td>

                        @Html.DisplayFor(model => model.Question)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Answer)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary wer">Edit</a>
                        <a asp-action="Index" class="btn btn-danger wer">Back</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>