@model IEnumerable<Souq.Models.FAQ>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });</script>

<h1>Frequently Asked Questions</h1>
<hr />

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"   class="btn btn-primary wer" >Edit</a> 
                @* <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary wer" >Details</a>  *@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary wer" >Delete</a>
            </td>
        </tr>
}
     
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-danger wer">Create New </a>
</p>@* 
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">FAQ</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">FAQ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="faq section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head-faq text-center">
                    <h2 class="section-title">Frequently Asked Questions</h2>
                </div>

                <div class="panel-group" id="accordion">
                    @foreach (var item in Model)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#@($"collapse{item.Id}")" aria-expanded="false" class="collapsed">
                                        @Html.DisplayFor(modelItem => item.Question)
                                    </a>
                                </h4>
                            </div>
                            <div id="@($"collapse{item.Id}")" class="panel-collapse collapse" style="">
                                <div class="panel-body">
                                    <p> @Html.DisplayFor(modelItem => item.Answer)</p>
                                </div>
                            </div>
                            <a asp-action="Edit" class="btn btn-common btn-filters" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" class="btn btn-common btn-filters" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" class="btn btn-common btn-filters" asp-route-id="@item.Id">Delete</a>
                        </div>
                        }
                    <a asp-action="Create" class="btn btn-common btn-filters">Create New</a>
                </div>
               
            </div>
        </div>
    </div>
</div> *@


